/* style.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Oculta a barra de rolagem no Internet Explorer e Edge */
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}
